* {
  background-color: rgb(30, 30, 30);
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
#timer {
  position: absolute;
  font-size: 64px;
  color: aliceblue;
  background-color: blue;
  border-radius: 15px;
  max-width: 50vw;
  text-align: center;
  padding: 10px;
}
#buttons {
  display: flex;
}
#buttons > button {
  color: aliceblue;
  width: 25vw;
  height: 7vh;
  font-size: 18px;
  font-weight: bold;
  border: solid;
}
#buttons > button:disabled {
  border-color: black;
  color: black;
}
.trivia {
  height: 50vh;
}
.trivia > img {
  max-width: 100vw;
  /* max-height: 50vh; */
  height: 50vh;
  /* object-fit: scale-down; */
}
.triviaTitle {
  background-color: rgb(70, 16, 120);
  width: 100vw;
  font-size: 24px;
  text-align: center;
  color: aliceblue;
}
.scoreCard {
  width: 50vw;
  height: 50vh;
  font-size: 24px;
  color: aliceblue;
  background-color: rgb(66, 66, 66);
}
.scoreName {
  font-size: 32px;
  text-align: center;
}
.scoreAmount {
  font-size: 32px;
}
.choiceDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.choiceDiv >:nth-child(1) {
  background-color: rgb(11, 29, 145);
}
.choiceDiv >:nth-child(2) {
  background-color: rgb(0, 52, 14);
}
.choiceDiv >:nth-child(3) {
  background-color: rgb(70, 16, 120);
}
.choiceDiv >:nth-child(4) {
  background-color: rgb(85, 0, 0);
}

#twitchName {
  font-size: 28px;
  width: 200px;
  color: aqua;
}
.name {
  font-size: 28px;
  color: aqua;
  background-color: black;
}
.msg {
  font-size: 24px;
  color:blueviolet;
  background-color: black;
}
#twitchChat {
  display: flex;
  flex-direction: column-reverse;
  background-color: black;
  width: 100vw;
  height: 50vh;
}
.winner {
  background-color: blue;
}
.choiceBtn {
  /* width: 100vw; */
  height: 9vh;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
.choiceBtn:not(.disabledChoice):hover {
  cursor: pointer;
  background-color:lightslategray;
}
.choiceNum {
  margin-left: 20px;
  font-size: 48px;
  color: chocolate;
  background-color: inherit;
  align-content: center;
}
.choiceTxt {
  width: 100vw;
  height: 100%;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: yellow;
  font-size: 3.5vh;
  font-weight: 500;
  line-height: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 2px 2px 2px #000;
}
.choiceDiv >:nth-child(1).wrongChoice {
  background: linear-gradient(black, rgb(11, 29, 145));
}
.choiceDiv >:nth-child(2).wrongChoice {
  background: linear-gradient(black, rgb(0, 52, 14));
}
.choiceDiv >:nth-child(3).wrongChoice {
  background: linear-gradient(black, rgba(70, 16, 120));
}
.choiceDiv >:nth-child(4).wrongChoice {
  background: linear-gradient(black, rgba(85, 0, 0));
}
.winnerChoice {
  background-color: lightslategray !important;
  border: solid red;
}
.chatConnect {
  display: flex;
  flex-direction: column;
  background-color: black;
}
.connectBtn {
  color:aliceblue;
  width: 200px;
  min-width: 160px;
  height: 65px;
  font-size: 24px;
  font-weight: bold;
  line-height: 100%;
  z-index: 1;
  display: none;
}
.gameboard {
  max-width: fit-content;
  margin-inline: auto;
}
.gameboardChat {
  display: flex;
  align-content: center;
  flex-direction: column;
}
.hamburger {
  position: fixed;
  margin-top: 0px;
  border: solid red;
  /* border: #00000000; */
  pointer-events: auto;
  width: 50px;
  height: 40px;
}
.hamburger > * { /*hamburger slices*/
  width: 25px;
  height: 5px;
  background-color: gray;
  margin: 5px;
  transition: .5s;
}
.hamburger.change > :nth-child(1) {
  transform: translate(0, 14px) rotate(-45deg);
  margin-top: 0px;
}
.hamburger.change > :nth-child(2) {
  opacity: 0;
}
.hamburger.change > :nth-child(3) {
  transform: translate(0,-14px) rotate(45deg);
  margin-bottom: 0px;
}
.sidebar {
  background-color: rgba(0, 0, 0, 0.25);
  color: aqua;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  width: 0;
}
.sidebar.change {
  width: 240px;
}
.sidebar > div > input {
  color: aqua;
  font-size: 24px;
  font-weight: bold;
  width: 60px;
}
.sidebar > div > label {
  color: aqua;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
.tooltip {
  font-size: 20px;
}
.tooltip .tooltiptext {
  width: 120px;
  background-color: #555;
  position: absolute;
  margin-left: 90px;
  color: #fff;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
  opacity: 1;
  /* position: relative; */
}
.soundOn {
  height: 60px;
  width: 60px;
  background-image: url("assets/speakerOn.svg");
}
.soundOff {
  height: 60px;
  width: 60px;
  background-image: url("assets/speakerOff.svg");
}
/* for screens wider than 480px */
@media only screen and (min-width:480px) {
  .gameboardChat {
    align-content: center;
    flex-direction: row;
  }
  .gameboard {
    margin-inline: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .triviaBoard {
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .triviaTitle {
    font-size: 48px;
    white-space: nowrap;
    max-width: 100%;
  }
  .trivia > img {
    /* max-width: 100%; */
    /* align-items: stretch; */
    width: 100%;
    height: auto;
    /* object-fit: scale-down; */
  }
  #twitchChat {
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
    width: 15vw;
  }
  #buttons > button{
    height: 50px;
    font-size: 24px;
  }
  #connectChatBtn {
    display:block
  }
  .choiceBtn {
    height: 13.8vh;
    width: 20vw;
  }
  .choiceTxt {
    /* height:12vh; */
  }
  .hamburger {
    position: fixed;
    margin-top: 5px;
    border: solid red;
    pointer-events: auto;
    width: 65px;
    height: 60px;
  }
  .hamburger > * { /*hamburger slices*/
    width: 35px;
    height: 7px;
    background-color: gray;
    margin: 7px;
    transition: .5s;
  }
}
